@use "./mixins" as *;

.mds-carousal {
    overflow: hidden;
    &.mds-products-carousal {
        .mds-swiper {
            overflow: visible;
            max-width: calc(var(--max-container) - torem(200));
            left: -6rem;
            @media (max-width: 1023px) {
                left: 0;
                width: 90%;
                margin: 0 auto;
            }
            .swiper-slide {
                padding: var(--2xl) var(--5xl);
                border-radius: var(--base);
                background-color: var(--white);
                box-shadow: var(--shadow-base);
            }
            &.default-swiper {
                .swiper-slide-active {
                    padding: 1rem;
                }
            }
        }
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }
    .swiper-pagination {
        display: none;
    }
}
