@use "./mixins" as *;

.mds-carousal {
    overflow: hidden;
    &.mds-products-carousal {
        .mds-swiper {
            overflow: visible;
            max-width: calc(var(--max-container) - torem(200));
            left: -6rem;
            .swiper-slide {
                padding: var(--2xl) var(--5xl);
                border-radius: var(--base);
                background-color: var(--white);
                box-shadow: var(--shadow-base);
            }
        }
    }
}
