@use "../base/mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: var(--font-size-screen-base);
}
body {
    background: var(--background);
    color: var(--text);
    font-family: var(--font-family);
    font-size: var(--base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: var(--white);
    text-decoration: none;
    @include transition-base;
    line-height: normal;
    display: inline-block;
    font-weight: 500;
    &:hover {
        // font-weight: var(--fw-800);
        color: var(--secondary);
    }
    &.mds-underline-link {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    &.mds-underline-link-dark {
        text-decoration: underline;
        color: var(--text);
        font-weight: var(--fw-700);
        &:hover {
            text-decoration: none;
        }
    }
}
.text-underline {
    color: #000000;
    text-decoration: underline;
}
.anchor-underline {
    text-decoration: underline;
}
img {
    max-width: 100%;
}
.defaul-b-border {
    border-bottom: 1px solid #425052;
}
.mds {
    &-img-position-cover {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.contactFaq {
    @include accordion-styles;
    .layout-accordion__content h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .layout-accordion__content p {
        font-size: 1.15rem;
        font-weight: 300;
    }
}
.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
