.mds-grid {
    display: grid;
    gap: var(--base);

    @for $i from 1 through 6 {
        &-size-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }

    @media (max-width: var(--sr-mobile-end)) {
        &-size-2,
        &-size-3,
        &-size-4,
        &-size-5,
        &-size-6 {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media (min-width: var(--sr-tablet-port-start)) and (max-width: var(--sr-tablet-port-end)) {
        &-size-3,
        &-size-4 {
            grid-template-columns: repeat(2, 1fr);
        }
        &-size-5,
        &-size-6 {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
