.mds-grid {
    display: grid;
    gap: var(--base);

    @for $i from 1 through 6 {
        &-size-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
}
@media only screen and (max-width: 1023px) {
    .mds-grid-size-2,
    .mds-grid-size-3,
    .mds-grid-size-4,
    .mds-grid-size-5,
    .mds-grid-size-6 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: var(--sr-tablet-port-start)) and (max-width: var(--sr-tablet-port-end)) {
    .mds-grid-size-3,
    .mds-grid-size-4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .mds-grid-size-5,
    .mds-grid-size-6 {
        grid-template-columns: repeat(3, 1fr);
    }
}
