@use "../base/mixins" as *;

.footer-secondary {
    background: var(--text);
    .mds-container {
        border-bottom: torem(1) solid var(--border);
        padding: 7rem 0 var(--7xl);
        @media (max-width: 1023px) {
            padding: 3rem 0;
        }
    }
}
.mds-section {
    &-content {
        padding: 7rem 0;
        align-self: center;
        @media (max-width: 1023px) {
            padding: 3rem 0;
        }
    }
}
.mds-team-image {
    width: torem(160);
    height: torem(250);
    object-fit: cover;
}
.mds-alternate-border-list {
    &-item {
        border-bottom: torem(1) solid var(--border);
        &:last-child {
            border-bottom: none;
        }
    }
}
.mds-scroll {
    &-auto {
        overflow: auto;
        padding-bottom: 10px;
    }
}
.mds-underline-text {
    text-decoration: underline;
}

@media (max-width: 1023px) {
    .mds-p-top-4xl-sm {
        padding-top: 4rem;
    }
    .mds-m-vertical-7xl {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .mds-icon-width-60 {
        width: 60% !important;
    }
    .mob-icon-width-80 {
        width: 80% !important;
    }
    .mds-p-left-6xl {
        padding-left: 0 !important;
    }
    .mds-height-px-500 {
        height: 100% !important;
    }
    .mds-carousal.mds-products-carousal .mds-swiper .swiper-slide {
        padding: 0 var(--2xl);
    }

    .mob-p-left-xl {
        padding-left: var(--2xl) !important;
    }
    .mob-p-top-3xl {
        padding-top: var(--3xl) !important;
    }
    .mob-p-bottom-3xl {
        padding-bottom: var(--3xl) !important;
    }
    .copyright-text {
        padding-top: 1rem;
    }
    .mob-grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}
